.header-main {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #70A3CC;
   border: 1px solid black !important;
   margin: 0px !important;
   padding: 10px !important;
}


h1 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: Source Code Pro;

}
h2 {
   font-family: Source Code Pro;
   font-size: 20px;
}

.menu-main {
   display: flex;
   justify-content: center !important;
   align-items: center !important;
}