.commentsection { 
   display: flex;
flex-direction: column;
width: auto;
justify-content: center;
align-items: center;
padding: 20px;
margin: 20px;
}

.commentfixed{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   width: auto;
   padding-top: 5px;
   margin-bottom: -5px;
}

.underline{
   border-bottom: 1px solid black !important;
}
.centerforum { 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.header-line {
   border-top: 1px solid black !important;
   margin-top: 10px;
   width: 100%;
}