article {
   border: 1px solid black;
   background-color: #D3D3D3;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: auto;
   max-width: 70%;
   min-width: 70%;
   height: auto;
   padding: 10px;
   margin: 10px;
   border-radius: 25px;

}

.whitespace {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.thread {
   display: flex;
   width: 100%;
   height: 150px;
   padding: 10px;
   margin-bottom: 10px;

   background-color: white;
   border: 1px solid black;
   border-radius: 25px;
   
}

p {
   display: flex;
   flex-direction: column;
   min-width: 20%;
}

.header-thread{
   margin: 10px;
   padding: 10px;
   
}

.userinfo{
   width: auto !important;
   border-right: 1px solid black;
   margin: 10px;
   padding: 10px;
}

.threadbody{
   margin: 15px;
}

.spacing{
   display: flex;
   flex-direction: column;
   padding: 10px;
}

.vertical-button {
   display: flex;
   flex-direction: column;
   width: auto !important;
}
